In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [11]:
df=pd.read_csv("/Users/antoniojaenarias/Desktop/DATA SCIENCE/TODO/ML_KAGGLE_1/data/data.csv")
df

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,0,Thompson,tube,7.00,3770.0,0.1754,NaN,10.8,432.0,3.6
1,1,Thompson,tube,NaN,6049.0,-0.0416,10.3,10.3,762.0,6.2
2,2,Thompson,NaN,13.79,2034.0,0.0335,7.7,7.7,457.0,2.5
3,3,Beus,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
4,4,NaN,tube,13.79,686.0,NaN,11.1,11.1,457.0,2.8
...,...,...,...,...,...,...,...,...,...,...
31639,31639,Thompson,NaN,NaN,1736.0,0.0886,NaN,7.8,591.0,2.3
31640,31640,NaN,NaN,13.79,NaN,NaN,4.7,4.7,NaN,3.9
31641,31641,Thompson,NaN,18.27,658.0,-0.1224,3.0,3.0,150.0,2.3
31642,31642,Thompson,tube,6.89,3825.0,NaN,23.6,23.6,1972.0,3.7
31643,31643,NaN,tube,6.89,7568.0,0.0603,12.8,12.8,1930.0,3.3

In [13]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
import re



label_encoder=LabelEncoder()

cat_cols=df[["author","geometry"]]
num_cols = ["pressure [MPa]", "mass_flux [kg/m2-s]", 'D_e [mm]', 'D_h [mm]', 'length [mm]', 'chf_exp [MW/m2]']

imputer=SimpleImputer(strategy="most_frequent")
imputer_1=SimpleImputer(strategy="mean")



for col in cat_cols:
        
        df[col]=imputer.fit_transform(df[col].values.reshape(-1,1))
        
        df[col]=label_encoder.fit_transform(df[col])

for col_num in num_cols:
        
        df[col_num]=imputer_1.fit_transform(df[col_num].values.reshape(-1,1))
    

df.columns = [re.sub(r'[\[\]<>\s]+', '_', col) for col in df.columns]
df

,id,author,geometry,pressure_MPa_,mass_flux_kg/m2-s_,x_e_out_-_,D_e_mm_,D_h_mm_,length_mm_,chf_exp_MW/m2_
0,0,7,2,7.000000,3770.000000,0.1754,8.629255,10.8,432.000000,3.6
1,1,7,2,10.640747,6049.000000,-0.0416,10.300000,10.3,762.000000,6.2
2,2,7,2,13.790000,2034.000000,0.0335,7.700000,7.7,457.000000,2.5
3,3,0,0,13.790000,3679.000000,-0.0279,5.600000,15.2,2134.000000,3.0
4,4,7,2,13.790000,686.000000,NaN,11.100000,11.1,457.000000,2.8
...,...,...,...,...,...,...,...,...,...,...
31639,31639,7,2,10.640747,1736.000000,0.0886,8.629255,7.8,591.000000,2.3
31640,31640,7,2,13.790000,3068.011023,NaN,4.700000,4.7,832.987391,3.9
31641,31641,7,2,18.270000,658.000000,-0.1224,3.000000,3.0,150.000000,2.3
31642,31642,7,2,6.890000,3825.000000,NaN,23.600000,23.6,1972.000000,3.7
31643,31643,7,2,6.890000,7568.000000,0.0603,12.800000,12.8,1930.000000,3.3

In [33]:
train = df[~pd.isna(df["x_e_out_-_"])]

test=df[pd.isna(df["x_e_out_-_"])]
test

,id,author,geometry,pressure_MPa_,mass_flux_kg/m2-s_,x_e_out_-_,D_e_mm_,D_h_mm_,length_mm_,chf_exp_MW/m2_
4,4,7,2,13.790000,686.000000,NaN,11.100000,11.1,457.000000,2.8
7,7,5,2,18.000000,750.000000,NaN,10.000000,10.0,1650.000000,2.2
10,10,7,2,10.640747,3068.011023,NaN,1.900000,1.9,152.000000,3.2
12,12,7,2,6.890000,7500.000000,NaN,8.629255,12.8,1930.000000,4.8
23,23,0,0,15.510000,1355.000000,NaN,5.600000,15.2,2134.000000,2.1
...,...,...,...,...,...,...,...,...,...,...
31633,31633,7,2,11.030000,3068.011023,NaN,11.500000,11.5,832.987391,2.0
31634,31634,6,1,1.010000,2000.000000,NaN,15.000000,120.0,10.000000,6.2
31637,31637,8,2,13.790000,688.000000,NaN,8.629255,11.1,457.000000,2.3
31640,31640,7,2,13.790000,3068.011023,NaN,4.700000,4.7,832.987391,3.9
31642,31642,7,2,6.890000,3825.000000,NaN,23.600000,23.6,1972.000000,3.7

In [6]:
X=train.drop(columns="x_e_out_-_")
y=train["x_e_out_-_"]

X_train, X_test, y_train, y_test=train_test_split(X,
                                                  y,
                                                  test_size=0.2,
                                                  random_state=1,
                                                  shuffle=True)

In [7]:
from sklearn.ensemble import GradientBoostingRegressor

gb=GradientBoostingRegressor(loss="squared_error",
                             max_depth=5,
                             n_estimators=150)
gb.fit(X_train, y_train.values.reshape(-1, 1))
y_pred=gb.predict(X_test)

rmse=mean_squared_error(y_test, y_pred, squared=False)
print("RMSE:", rmse)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RMSE: 0.07596694027845197

In [34]:
X_nuevo=test.drop(columns="x_e_out_-_")
y_nuevo=test["x_e_out_-_"]

y_pred_nuevo=gb.predict(X_nuevo)
test.rename(columns={'x_e_out_-_': 'x_e_out [-]'}, inplace=True)
test["x_e_out [-]"]=y_pred_nuevo

test.to_csv("pred.csv", index=False)

prueba= pd.read_csv("pred.csv")
# Mantener solo las columnas "id" y "x_e_out [mm]"
columnas_deseadas = ["id", "x_e_out [-]"]
prueba = prueba[columnas_deseadas]
# Guardar el DataFrame resultante en un nuevo archivo CSV
prueba.to_csv("pred_filtrado.csv", index=False)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/antoniojaenarias/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy